<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">
<style>
    /*********************************
     The list of publication items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */


/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}</style>
<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
    </script>

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}


<h4 style="margin-bottom:0px;padding-top:10px;">Journals, Conferences and Workshops</h4>
<ul class="biblist">

  <!-- Item: venkateswara2017deep1 -->
    <li ><p>
	<b>H. Venkateswara</b>, <a href="https://sites.google.com/a/asu.edu/shayok-chakraborty/" target="_blank">S. Chakraborty</a>, and <a href="https://en.wikipedia.org/wiki/Sethuraman_Panchanathan" target="_blank">S. Panchanathan</a>
    <br><b>Deep-Learning Systems for Domain Adaptation in Computer Vision: Learning Transferable Feature Representations</b><br>
<i>IEEE Signal Processing Magazine</i>,
Nov 2017.
    <br />
    <a href="javascript:toggleBibtex('venkateswara2017deep1')">[BibTeX]</a>
    <a href="http://ieeexplore.ieee.org/document/8103149/" target="_blank">[PDF]</a>  
    </p>
    <div id="bib_venkateswara2017deep1" class="bibtex noshow">
    <pre>@article{venkateswara2017deep1,
  title={Deep-Learning Systems for Domain Adaptation in Computer Vision: Learning Transferable Feature Representations},
  author={Venkateswara, Hemanth and Chakraborty, Shayok and Panchanathan, Sethuraman},
  journal={IEEE Signal Processing Magazine},
  volume={34},
  number={6},
  pages={117--129},
  year={2017},
  publisher={IEEE}
}</pre>
    </div>
    </li>
	
    <!-- Item: venkateswara2017Deep -->
    <li ><p>
	<b>H. Venkateswara</b>, <a href="https://www.linkedin.com/in/jmeusebio" target="_blank">J. Eusebio</a>, <a href="https://sites.google.com/a/asu.edu/shayok-chakraborty/" target="_blank">S. Chakraborty</a>, and <a href="https://en.wikipedia.org/wiki/Sethuraman_Panchanathan" target="_blank">S. Panchanathan</a>
    <br><b>Deep Hashing Network for Unsupervised Domain Adaptation</b><br>
<i>IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</i>,
2017.
    <br />
    <a href="javascript:toggleBibtex('venkateswara2017Deep')">[BibTeX]</a>
    <a href="https://arxiv.org/pdf/1706.07522" target="_blank">[PDF]</a> 
	<a href="https://github.com/hemanthdv/da-hash" target="_blank">[CODE]</a> 
	<a href="https://hemanthdv.github.io/officehome-dataset/" target="_blank">[DATASET]</a> 
    </p>
    <div id="bib_venkateswara2017Deep" class="bibtex noshow">
    <pre>@inproceedings{venkateswara2017Deep,
  title={Deep Hashing Network for Unsupervised Domain Adaptation},
  author={Venkateswara, Hemanth and Eusebio, Jose and Chakraborty, Shayok and Panchanathan, Sethuraman},
  booktitle={({IEEE}) Conference on Computer Vision and Pattern Recognition ({CVPR})},
  year={2017}
}</pre>
    </div>
    </li>

    <!-- Item: venkatesan2017strategy -->
    <li ><p>
	<a href="http://www.public.asu.edu/~rvenka10/" target="_blank">R. Venkatesan</a>, <b>H. Venkateswara</b>, <a href="https://en.wikipedia.org/wiki/Sethuraman_Panchanathan" target="_blank">S. Panchanathan</a>, and <a href="http://www.public.asu.edu/~bli24/" target="_blank">B. Li</a>
    <br><b>A Strategy for an Uncompromising Incremental Learner</b><br>
<i>submitted - under review</i>,
2017.
    <br />
    <a href="javascript:toggleBibtex('venkatesan2017strategy')">[BibTeX]</a>
    <a href="https://arxiv.org/pdf/1705.00744" target="_blank">[PDF]</a> 
	<a href="https://github.com/ragavvenkatesan/Incremental-GAN" target="_blank">[CODE]</a> 
    </p>
    <div id="bib_venkatesan2017strategy" class="bibtex noshow">
    <pre>@article{venkatesan2017strategy,
  title={A Strategy for an Uncompromising Incremental Learner},
  author={Venkatesan, Ragav and Venkateswara, Hemanth and Panchanathan, Sethuraman and Li, Baoxin},
  journal={arXiv preprint arXiv:1705.00744},
  year={2017}
}</pre>
    </div>
    </li>

	    <!-- Item: ranganathan2017Deep -->
    <li ><p>
	H. Ranganathan, <b>H. Venkateswara</b>, <a href="https://sites.google.com/a/asu.edu/shayok-chakraborty/" target="_blank">S. Chakraborty</a>, and <a href="https://en.wikipedia.org/wiki/Sethuraman_Panchanathan" target="_blank">S. Panchanathan</a>
    <br><b>Deep Active Learning for Image Classification</b><br>
<i>IEEE Conference on Image Processing (ICIP)</i>,
2017.
    <br />
    <a href="javascript:toggleBibtex('ranganathan2017Deep')">[BibTeX]</a>
    </p>
    <div id="bib_ranganathan2017Deep" class="bibtex noshow">
    <pre>@inproceedings{ranganathan2017Deep,
  title={Deep Active Learning for Image Classification},
  author={Ranganathan, Hiranmayi and Venkateswara, Hemanth and Chakraborty, Shayok and Panchanathan, Sethuraman},
  booktitle={({IEEE}) International Conference on Image Processing ({ICIP})},
  year={2017}
}</pre>
    </div>
    </li>
	
	<!-- Item: venkateswara2016model -->
	<li ><p>
	<b>H. Venkateswara</b>, <a href="https://sites.google.com/a/asu.edu/shayok-chakraborty/" target="_blank">S. Chakraborty</a>, <a href="http://www.public.asu.edu/~tmcdani/" target="_blank">T. McDaniel</a>, and <a href="https://en.wikipedia.org/wiki/Sethuraman_Panchanathan" target="_blank">S. Panchanathan</a>
    <br><b>Model Selection with Nonlinear Embedding for Unsupervised Domain Adaptation</b><br>
<i>KnowPros Workshop AAAI Conference</i>,
2017.
    <br />
    <a href="javascript:toggleBibtex('venkateswara2016model')">[BibTeX]</a>
	<a href="https://arxiv.org/pdf/1706.07522" target="_blank">[PDF]</a> 
    </p>
    <div id="bib_venkateswara2016model" class="bibtex noshow">
    <pre>@inproceedings{venkateswara2016model,
  title={Model Selection with Nonlinear Embedding for Unsupervised Domain Adaptation},
  author={Venkateswara, Hemanth and Chakraborty, Shayok and McDaniel, Troy and Panchanathan, Sethuraman},
  booktitle={KnowPros Workshop - Proceedings of the {AAAI} Conf. on Artificial Intelligence},
  year={2017}
}</pre>
    </div>
    </li>

    <!-- Item: venkateswara2016nonlinear -->
    <li ><p>
	<b>H. Venkateswara</b>, <a href="https://sites.google.com/a/asu.edu/shayok-chakraborty/" target="_blank">S. Chakraborty</a>, and <a href="https://en.wikipedia.org/wiki/Sethuraman_Panchanathan" target="_blank">S. Panchanathan</a>
    <br><b>Nonlinear Embedding Transform for Unsupervised Domain Adaptation</b><br>
<i>TASKCV Workshop, European Conference on Computer Vision (ECCV)</i>,
2016.
    <br />
    <a href="javascript:toggleBibtex('venkateswara2016nonlinear')">[BibTeX]</a>
    <a href="https://arxiv.org/pdf/1706.07524" target="_blank">[PDF]</a> 
	</p>
    <div id="bib_venkateswara2016nonlinear" class="bibtex noshow">
    <pre>@inproceedings{venkateswara2016nonlinear,
  title={Nonlinear Embedding Transform for Unsupervised Domain Adaptation},
  author={Venkateswara, Hemanth and Chakraborty, Shayok and Panchanathan, Sethuraman},
  booktitle={TASKCV Workshop, Proceedings of the European Conference on Computer Vision ({ECCV})}},
  pages={451--457},
  year={2016},
  organization={Springer}
}</pre>
    </div>
    </li>

    <!-- Item: venkateswara2015efficient -->
    <li ><p>
	<b>H. Venkateswara</b>, <a href="https://scholar.google.com/citations?user=-p_gjpMAAAAJ" target="_blank">P. Lade</a>, <a href="https://scholar.google.com/citations?user=Zmvq4KYAAAAJ" target="_blank">B. Lin</a>, <a href="http://www.yelab.net/" target="_blank">J. Ye</a>, and <a href="https://en.wikipedia.org/wiki/Sethuraman_Panchanathan" target="_blank">S. Panchanathan</a>
    <br><b>Efficient Approximate Solutions to Mutual Information Based Global Feature Selection</b><br>
<i>IEEE International Conference on Data Mining (ICDM)</i>,
2015.
    <br />
    <a href="javascript:toggleBibtex('venkateswara2015efficient')">[BibTeX]</a>
    <a href="https://arxiv.org/pdf/1706.07535" target="_blank">[PDF]</a> 
    </p>
    <div id="bib_venkateswara2015efficient" class="bibtex noshow">
    <pre>@inproceedings{venkateswara2015efficient,
  title={Efficient Approximate Solutions to Mutual Information Based Global Feature Selection},
  author={Venkateswara, Hemanth and Lade, Prasanth and Lin, Binbin and Ye, Jieping and Panchanathan, Sethuraman},
  booktitle={Proceedings of the ({IEEE}) Intl. conf. on Data Mining ({ICDM})},
  pages={1009--1014},
  year={2015}
}</pre>
    </div>
    </li>
	
    <!-- Item: venkateswara2015coupled -->
    <li ><p>
	<b>H. Venkateswara</b>, <a href="https://scholar.google.com/citations?user=-p_gjpMAAAAJ" target="_blank">P. Lade</a>, <a href="http://www.yelab.net/" target="_blank">J. Ye</a>, and <a href="https://en.wikipedia.org/wiki/Sethuraman_Panchanathan" target="_blank">S. Panchanathan</a>
    <br><b>Coupled Support Vector Machines for Supervised Domain Adaptation</b><br>
<i>ACM Conference on Multimedia (ACM-MM)</i>,
2015.
    <br />
    <a href="javascript:toggleBibtex('venkateswara2015coupled')">[BibTeX]</a>
    <a href="https://arxiv.org/pdf/1706.07525" target="_blank">[PDF]</a> 
    </p>
    <div id="bib_venkateswara2015coupled" class="bibtex noshow">
    <pre>@inproceedings{venkateswara2015coupled,
  title={Coupled Support Vector Machines for Supervised Domain Adaptation},
  author={Venkateswara, Hemanth and Lade, Prasanth and Ye, Jieping and Panchanathan, Sethuraman},
  booktitle={Proceedings of the {ACM} Intl. Conf. on Multimedia ({ACM-MM})}},
  pages={1295--1298},
  year={2015},
}</pre>
    </div>
    </li>	
	
    <!-- Item: venkateswara2013multiresolution -->
    <li ><p>
	<b>H. Venkateswara</b>, <a href="http://www.iith.ac.in/~vineethnb/" target="_blank">V. N. Balasubramanian</a>, <a href="https://scholar.google.com/citations?user=-p_gjpMAAAAJ" target="_blank">P. Lade</a>, and <a href="https://en.wikipedia.org/wiki/Sethuraman_Panchanathan" target="_blank">S. Panchanathan</a>
    <br><b>Multiresolution Match Kernels for Gesture Video Classification</b><br>
<i>IEEE International Conference on Multimedia and Expo Workshops (ICME-W)</i>,
2013.
    <br />
    <a href="javascript:toggleBibtex('venkateswara2013multiresolution')">[BibTeX]</a>
    <a href="https://arxiv.org/pdf/1706.07530" target="_blank">[PDF]</a> 
    </p>
    <div id="bib_venkateswara2013multiresolution" class="bibtex noshow">
    <pre>@inproceedings{venkateswara2013multiresolution,
  title={Multiresolution Match Kernels for Gesture Video Classification},
  author={Venkateswara, Hemanth and Balasubramanian, Vineeth N and Lade, Prasanth and Panchanathan, Sethuraman},
  booktitle={Proceedings of the {IEEE} Intl. Conf. on Multimedia and Expo Workshops {(ICME)}},
  pages={1--4},
  year={2013}
}</pre>
    </div>
    </li>	

    <!-- Item: chakraborty2011active -->
    <li ><p>
	<a href="https://sites.google.com/a/asu.edu/shayok-chakraborty/" target="_blank">S. Chakraborty</a>, <b>H. Venkateswara</b>, <a href="http://www.iith.ac.in/~vineethnb/" target="_blank">V. N. Balasubramanian</a>, and <a href="https://en.wikipedia.org/wiki/Sethuraman_Panchanathan" target="_blank">S. Panchanathan</a>
    <br><b>Active Batch Selection for Fuzzy Classification in Facial Expression Recognition</b><br>
<i>International Conference on Machine Learning Applications (ICMLA)</i>,
2011.
    <br />
    <a href="javascript:toggleBibtex('chakraborty2011active')">[BibTeX]</a>
    </p>
    <div id="bib_chakraborty2011active" class="bibtex noshow">
    <pre>@inproceedings{chakraborty2011active,
  title={Active Batch Selection for Fuzzy Classification in Facial Expression Recognition},
  author={Chakraborty, Shayok and Venkateswara, Hemanth and Balasubramanian, Vineeth and Panchanathan, Sethuraman},
  booktitle={Machine Learning and Applications and Workshops (ICMLA), 2011 10th International Conference on},
  volume={1},
  pages={241--246},
  year={2011},
  organization={IEEE}
}</pre>
    </div>
    </li>

</ul  >

<h4 style="margin-bottom:0px;padding-top:10px;">Book Chapter</h4>
<ul class="biblist">
    <!-- Item: balasubramanian2014other -->
        <li >
		<p>
		<a href="http://www.iith.ac.in/~vineethnb/" target="_blank">V. N. Balasubramanian</a>, <a href="https://scholar.google.com/citations?user=-p_gjpMAAAAJ" target="_blank">P. Lade</a>, <b>H. Venkateswara</b>, <a href="https://dke.maastrichtuniversity.nl/smirnov/Default.htm" target="_blank">E. Smirnov</a> and <a href="https://en.wikipedia.org/wiki/Sethuraman_Panchanathan" target="_blank">S. Panchanathan</a>
		<br><b>Other Adaptations</b><br>
		Book Title: <i>Conformal Prediction for Reliable Machine Learning: Theory, Adaptations and Applications</i>
		<i> Morgan Kaufmann Publishers</i>, 2014.
		<br />
    <a href="javascript:toggleBibtex('balasubramanian2014other')">[BibTeX]</a>
    </p>
            <div id="bib_balasubramanian2014other" class="bibtex noshow">
                <pre>@incollection{balasubramanian2014other,
  title={Other Adaptations},
  author={Balasubramanian, Vineeth N and Lade, Prasanth and Venkateswara, Hemanth and Smirnov, Evgueni and Panchanathan, Sethuraman},
  booktitle={Conformal Prediction for Reliable Machine Learning: Theory, Adaptations and Applications},
  pages={183–197}
  year={2014},
  publisher={Elsevier Inc.}
}</pre>
            </div>
        </li>
</ul>

<h4 style="margin-bottom:0px;padding-top:10px;">Thesis</h4>
<ul class="biblist">
    <!-- Item: venkateswaraPhDThesis2017 -->
        <li ><p>
            PhD thesis
			<br>
            <b>Domain Adaptive Computational Models for Computer Vision, Arizona State University, 2017
            <br />
            <a href="javascript:toggleBibtex('venkateswaraPhDThesis2017')">[BibTeX]</a>
            <a href="http://search.proquest.com/docview/1896964872"  target="_blank">[PDF]</a>
            </p>
            <div id="bib_venkateswaraPhDThesis2017" class="bibtex noshow">
                <pre>@phdthesis{venkateswaraPhDThesis2017,
    author = {Hemanth Venkateswara},
    title = {Domain Adaptive Computational Models for Computer Vision},
    school = {Arizona State University},
    year = {2017}
}</pre>
            </div>
        </li>
</ul>


    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
